/* GRID */
/* ------------------ */

* {
	box-sizing: border-box;	
}

/* container */
.container {
	width: 100%;
	max-width: 1200px;
}

/* row clear */
.row:before,
.row:after {
	content: "";
	clear: both;
	display: table;
}

/* all column float, width and padding */
[class*='col-']{
	float: left;
	min-height: 1px;
	width: 16.66%;
	padding: 12px;
}

/* column width */
.col-one {
	width: 16.66%;
}

.col-two {
	width: 33.33%;
}

.col-three {
	width: 50%;
}

.col-four {
	width: 66.664%;
}

.col-five {
	width: 83.33%;
}

.col-six {
	width: 100%;
}

/* media queries at 800 */
@media all and (max-width: 800px){

	.col-one {
		width: 33.33%;
	}

	.col-two {
		width: 50%;
	}

	.col-three {
		width: 83.33%;
	}

	.col-four {
		width: 100%;
	}

	.col-five {
		width: 100%;
	}

	.col-six {
		width: 100%;
	}

}

/* media queries at 650 px */ 
@media  all and (max-width: 650px){

	.col-one {
		width: 50%;
	}

	.col-two {
		width: 100%;
	}

	.col-three {
		width: 100%;
	}

	.col-four {
		width: 100%;
	}
	
	.col-five {
		width: 100%;
	}

	.col-six {
		width: 100%;
	}

}

