/* GRID */
/* ------------------ */

/* main styles */
* {
	box-sizing: border-box; 
}

/* container */
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px;
}

/* columns */
.col-one {
	width: 4.666%;
}

.col-two {
	width: 13.333%;
}

.col-three {
	width: 22%;
}

.col-four {
	width: 30.666%;
}

.col-five {
	width: 39.333%;
}

.col-six {
	width: 48%;
}

.col-seven {
	width: 56.666%;
}

.col-eight {
	width: 65.333%;
}

.col-nine {
	width: 74.0%;
}

.col-ten {
	width: 82.666%;
}

.col-eleven {
	width: 91.333%;
}

.col-twelve {
	width: 100%;
}

.col-one-third {
	width: 30.666%;
}

.col-two-third {
	width: 65.333%;
}

.col-half {
	width: 50%;
}

/* column float */
[class*="col-"]{
	float: left;
	padding: 15px;
}

/* row clear */	
.row:after,
.row:before {
	content: "";
	clear: both;
	display: table;
}
